#btn{
    width: 50%;
    margin: 0 auto;
}
ion-content {
    --ion-background-color: black;
}
ion-item{
    color:white;
}
#formreg{
    width: 80%;
    margin: 0 auto;
}
div{
    width: 50%;
    margin: 0 auto;
    
}

.ion-color-gold {
    --ion-color-base: var(--ion-color-gold) !important;
    --ion-color-base-rgb: var(--ion-color-gold-rgb) !important;
    --ion-color-contrast: var(--ion-color-gold-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-gold-shade) !important;
    --ion-color-tint: var(--ion-color-gold-tint) !important;
}

.ion-color-myblue {
    --ion-color-base: var(--ion-color-myblue) !important;
    --ion-color-base-rgb: var(--ion-color-myblue-rgb) !important;
    --ion-color-contrast: var(--ion-color-myblue-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-myblue-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-myblue-shade) !important;
    --ion-color-tint: var(--ion-color-myblue-tint) !important;
}